*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
    display: flex;
}
nav{
    height: 80px;
    width: 100%;
    background-color: rgb(39, 8, 78);
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 70px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-left: 20px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 785px) {
    nav #icon {
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(58, 16, 109);
        top: 80px;
        left: -100%;
        text-align: center;
        border-top: 1px solid white;
        transition: all .5s;
    }
    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    nav ul.show{
        left: 0;
    }
}
@media (max-width: 300px) {
    label.logo {
        font-size: 25px;
        margin: 0;
        padding: 0;
        padding-left: 8px;
    }
    nav #icon{
        margin-right: 10px;
        margin-left: 0;
    }
}
